@keyframes shake {
    10%, 90% {
      transform: translate3d(-1px, 0, 0);
    }
    
    20%, 80% {
      transform: translate3d(2px, 0, 0);
    }
  
    30%, 50%, 70% {
      transform: translate3d(-4px, 0, 0);
    }
  
    40%, 60% {
      transform: translate3d(4px, 0, 0);
    }
  }

@keyframes popout {
    from{transform:scale(0)}
    80%{transform:scale(1.1)}
    to{transform:scale(1)}
}

body {
    background: #010a43 ;
    background-image:url(https://media1.giphy.com/media/U3qYN8S0j3bpK/giphy.gif);
    margin: 0;
  }

#header{
  padding: 1rem;
  width: 100%;
  text-align: center;
  animation: popout 3s ease;
  color: white;
  font-size: 0.8rem;
  font-family: "Courier New", Courier, monospace;
  letter-spacing: 0.5rem;
}

#input-area {
        display: block;
        padding: 2rem;
        margin-top: auto;
        margin-left: auto;
        margin-right: auto;
        border-radius: 0.5rem;
    
}

.no-answer{
border-style: solid;
border-width: 0.2rem;
border-radius: 5rem;
border-color: red;
animation: shake 0.82s cubic-bezier(.36,.07,.19,.97) both;
}

#ans-button {
        display: block;
        margin-top: 0.8rem;
        margin-left: auto;
        margin-right: auto;
        border-radius: 0.5rem;
}

#messages {
    background: rgb(255,194,194, 0.9);
    height: 60vh;
    overflow: auto;
    margin: 1.5rem 20rem 1.5rem 20rem;
    

    
}

#messages:hover{
    background-color: #010a43;
}

.answer{
    
    padding: 1rem;
    background-color: #ff2e63;
    width: auto;
    border-radius: 0.8rem;
    text-align: left;
    margin: 2rem 2rem 2rem 16rem;
    animation: popout 1s ease;
    box-shadow: 0.15rem 0.15rem black;

}

.question{
    
    background-color: #ff9d9d;
    width: auto;
    border-radius: 0.8rem;
    padding: 1rem;
    text-align: left;
    margin: 2rem 16rem 2rem 2rem;
    animation: popout 1s ease;
    box-shadow: 0.15rem 0.15rem black;

}

#exitstat{
    text-align: center;
    color: aliceblue
}

button:hover{
  animation: shake 0.82s cubic-bezier(.36,.07,.19,.97) both;
  cursor: pointer;
  background-color: #ff2e63;
}
  
.time{
    color: whitesmoke;
    font-size: 0.8rem;
    font-family: 'Times New Roman', Times, serif, Helvetica, sans-serif
}

